.section-spacing {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.margin-bottom-lg {
  margin-bottom: 1.5rem;
}

.margin-bottom-sm {
  margin-bottom: 0.5rem;
}

.margin-top-lg {
  margin-top: 3rem;
}

.center-text {
  text-align: center;
}

.custom-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
  font-size: 1rem;
}

.custom-btn {
  padding: 0.6rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
}
.custom-btn:hover {
  background-color: #0056b3;
}

.inline-block {
    display: inline-block; 
    width: auto"
}

nav {
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  background-color: #1e2a38; /* dark but soft blue */
  border-radius:90px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  padding: 12px 20px;
  margin-bottom: 30px;
}

.flex-layout {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

.left-filters {
  flex: 0 0 220px; 
  background: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 20px;
}

#postsContainer {
  flex: 1; 
  min-width: 300px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 20px;
}

.left-filters label {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
  user-select: none;
}

.heading{
    text-align: center;
    color: #2c3e50;
  font-weight: 700;
  margin-bottom: 40px;
}


